// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
table {
border-collapse: collapse;
}

table tr td {
padding: 5px;
vertical-align: top;
}
.list_image {
width: 80px;
height: 100px;
}
.list_description {
align:right;
width: 60%;
dl {
margin: 0;
}
dt {

color: #244;
font-weight: bold;
font-size: 22px;

}

dd {

margin: 0;
}
}
.list_actions {
font-size: 12px;
text-align: right;
padding-left: 1em;
}
.list_line_even {
background: #C1E1A6;

}
.list_line_odd {
background: #CBE32D;
}
}
